<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('fragments/head'); -%>
  </head>
  <body>
    <header>
      <p></p>
    </header>
    <main>
      <p>Hello World!</p>
    </main>
    <footer>
      <p></p>
    </footer>
  </body>
</html>
