<!DOCTYPE html>
<html lang="en">
  <head>
    <meta
      name="keywords"
      content="WillDO, todo list, tracker, objectives list, workout list, list, track objectives, plan project, organize list, organize plans"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="WillDO, super easy to use tracker for your objectives when working on a project, doing a workout, etc. Organize your plans with WillDO."
    />
    <meta name="subject" content="WillDO will help organize your workflow." />
    <meta
      name="author"
      content="Sandu Alexandru-Cristian, alecsandu678@gmail.com"
    />
    <title>WillDO</title>
    <meta name="owner" content="Sandu Alexandru-Cristian" />
    <link rel="shortcut icon" href="favicon2.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="index.css" />
  </head>
  <body>
    <p>Hello world</p>
    <img src="super.png" alt="superwallpaper" />
  </body>
</html>
