<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta
  name="keywords"
  content="WillDO, todo list, tracker, objectives list, workout list, list, track objectives, plan project, organize list, organize plans"
/>
<meta
  name="description"
  content="WillDO, super easy to use tracker for your objectives when working on a project, doing a workout, etc. Organize your plans with WillDO."
/>
<meta name="subject" content="WillDO will help organize your workflow." />
<meta
  name="author"
  content="Sandu Alexandru-Cristian, alecsandu678@gmail.com"
/>
<title>WillDO</title>
<meta name="owner" content="Sandu Alexandru-Cristian" />
<link rel="shortcut icon" href="favicon2.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="index.css" />
<link rel="stylesheet" type="text/css" href="navbar.css" />
<!--Jquery-->
<script type="text/javascript" src="jquery.min.js"></script>

<script type="text/javascript" src="global.js"></script>
<script type="text/javascript" src="index.js"></script>
<script type="text/javascript" src="navbar.js"></script>
