nav {
  background-color: silver;
}

ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin: 2vw;
  font-size: 3vh;
}

li p {
  font-size: 4vh;
}

a {
  text-decoration: none;
  color: black;
  padding: 2vh;
  font-family: monospace;
}

a:hover {
  background-image: linear-gradient(
    rgba(226, 56, 13, 0.295),
    rgba(253, 95, 38, 0.836)
  );
  /*background-: rgb(253, 95, 38);*/
  border-radius: 1em;
  -moz-border-radius: 60%;
  -webkit-border-radius: 60%;
}

button {
  cursor: pointer;
  display: none;

  /*this put the button on the left*/
  align-self: flex-start;
}

@media only screen and (max-width: 780px) {
  ul {
    flex-direction: column;
  }

  li {
    margin: 0;
  }

  a {
    display: block;
  }

  button {
    display: block;

    padding: 2vw;
    font-size: 3vh;
    background-color: silver;
    border: none;

    outline: none;

    cursor: pointer;

    align-self: flex-start;
  }
}
