nav {
  background-color: rgb(219, 219, 219);
}

.Logo {
  font-size: 1.5em;
}

ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  /*margin: 2vw;*/
  font-size: 3vh;
  padding: 20px;
}

li p {
  font-size: 4vh;
}

button {
  cursor: pointer;
  display: none;

  /*this put the button on the left*/
  align-self: flex-start;
}

@media only screen and (max-width: 780px) {
  ul {
    flex-direction: column;
  }

  li {
    margin: 0;
  }

  a {
    display: block;
  }

  button {
    display: block;

    padding: 2vw;
    font-size: 3vh;
    background-color: silver;
    border: none;

    outline: none;

    cursor: pointer;
    align-self: flex-start;
  }
}

li > a {
  position: relative;
  color: #000;
  text-decoration: none;
}

li > a:hover {
  color: #000;
}

li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: rgba(14, 6, 34, 0.952);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

li > a:hover::before {
  visibility: visible;
  transform: scaleX(1.2);
}
